<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name ="DBconnection" connectionString="Data source= DESKTOP-V8PB6JQ; Initial Catalog = DEPARTAMENTOS_DE_GUATEMALA; Integrated security = true;"/>
	</connectionStrings>
</configuration>